@import "../../vars.css";

.container {
    color: var(--color-text);
    margin-top: 77px;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    padding: 50px 10%;

}

.text h2 {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 4px;
}

.text p {
    font-size: 19px;
    font-weight: 400;
}
.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    gap: 15px;

}

.link {
    display: flex;
    align-items: center;
    gap: 10px
}

.link a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 1px;
}

.imgsrc {
    width:30px;
    height: 30px;
    border-radius: 10px;
}

@media screen and (max-width: 750px) {
    .container {
        flex-direction: column;
        gap: 21px;
    }

    .text {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    
    .links {
        align-items: center;
    }

    .link a {
        color: var(--color-text);
        text-decoration: none;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.5px;
    }
}